@use "src/styles/variables";
@use "src/styles/mixins";

$border-width: 2px;
$tab-size: 64px;
.slide-in-panel {
  @include mixins.zero;
  max-width: calc(100% - $tab-size);
  border: $border-width solid variables.$color-grey-a7;
  position: fixed;
  right: 0;
  &,
  & > * {
    box-sizing: border-box;
    transition: all 1s;
  }
  &__tab {
    position: absolute;
    top: -$border-width;
    transform: translateX(-100%);

    background: rgba(200, 200, 200, 0.15);
    border: $border-width solid variables.$color-grey-cb;

    font-size: 12px;
    width: $tab-size;
    height: $tab-size;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    background: variables.$color-grey-19;
  }
  &--shown {
    border-color: white;
    transform: translateX(0);
  }
  &--shown &__tab {
    background: rgba(200, 200, 200, 0.5);
  }
  &--hidden {
    transform: translateX(100%);
  }
}
