body {
	background: #24292E;
	color: red;	
}

#statusbar {
	background: #34393E;
	
	width: 300px;
	height: 30px;
	border: 2px solid #777;

	margin: auto;

	text-align: center;

	line-height: 30px;
	font-weight: bold;
	font-size: 30px;
}

#statusbar #hp{
	color: #0476E6;
}

#rocket {
	position: absolute;
	left: 50%;
	top: 50%;
  	animation: 2s infinite rotation linear;	
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
  	}
	to {
    	transform: rotate(360deg);
  	}
}
