.drag-scroll-area {
  &-external {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0px solid black;
  }
  &-internal {
    cursor: grab;
    border: 1px dashed orange;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
