.entity-card {
  //float: left;
  min-width: 100px;
  border: 2px solid #888;
  background: #333;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  position: relative;
  strong {
    font-size: 12px;
  }
  &--active {
    border: 2px solid #eee;
    background: #222;
    strong {
      color: #eee;
    }
  }
  &--friendly {
    background: #202525;
  }

  &--dead {
    background: #442020;
    opacity: 0.4;
    border: 2px solid #700;
  }

  &__position {
    position: absolute;
    top: -1em;
    left: 1em;
    font-size: 10px;
    display: block;
    float: right;
    clear: both;
    background: rgba(50, 50, 50, 0.8);
    color: #696;
    padding: 3px;
  }

  &__portrait {
    float: left;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    border: 1px solid #666;
    margin: 0;
    margin-right: 10px;
  }
}
