.entity-card {
  font-size: 12px;
  min-width: 100px;
  width: 140px;
  border: 2px solid #ee9b01;

  background: #333;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  strong {
    font-size: 12px;
  }
  &--active {
    border: 2px solid #13af13;
    background: #222;
    strong {
      color: #eee;
    }
  }
  &--friendly {
    background: #202525;
    border-color: #13af13;
  }

  &--dead {
    background: #442020;
    opacity: 1;
    border: 2px solid #700;
  }

  &__portrait {
    float: left;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    border: 1px solid #666;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .entity-data {
    @mixin entity-data-common {
      background: #111;
      font-family: monospace;
      font-size: 0.7em;
      padding: 0.2em 0.4em;
      margin-top: 5px;
    }
    &__location {
      float: left;
      color: green;
      @include entity-data-common;
    }
    &__target-position {
      float: right;
      color: rgb(150, 0, 0);
      @include entity-data-common;
    }
    &__distance-to-target {
      float: right;
      color: rgb(150, 100, 0);
      @include entity-data-common;
    }
  }

  .bleeding-info {
    display: inline-block;
    margin: 0.2em 0;
    color: rgb(141, 0, 0);
    &__reduction {
      color: #666;
      &__unit {
        opacity: 0.7;
      }
    }
  }

  .entity-data__status-displays {
    margin-bottom: 6px;
  }

  .equipment-panel .inventory-item__button-interact,
  .equipment-panel .inventory-item__button-drop {
    // move unequip and drop buttons to the right
    margin-left: auto;
  }
  & > .inventory-button,
  .pick-up-button {
    width: 100%;
    float: none;
    margin-bottom: 6px;
  }

  & > button:last-child {
    margin-bottom: -6px;
  }
}

.inventory-panel {
  position: absolute;
  left: calc(100% + 4px);
  bottom: 0%;
  background: #2b2b2b;
  border: 1px solid #333;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 3px;
  overflow-y: auto;
  max-height: 300px;
  min-width: 121px;
  z-index: 10;
}
