.entity-card {
  font-size: 12px;
  min-width: 100px;
  border: 2px solid #888;
  background: #333;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  strong {
    font-size: 12px;
  }
  &--active {
    border: 2px solid #eee;
    background: #222;
    strong {
      color: #eee;
    }
  }
  &--friendly {
    background: #202525;
  }

  &--dead {
    background: #442020;
    opacity: 0.4;
    border: 2px solid #700;
  }

  &__portrait {
    float: left;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    border: 1px solid #666;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .entity-data {
    @mixin entity-data-common {
      background: #111;
      font-family: monospace;
      font-size: 0.7em;
      padding: 0.2em 0.4em;
      margin-top: 5px;
    }
    &__location {
      float: left;
      color: green;
      @include entity-data-common;
    }
    &__target-position {
      float: right;
      color: rgb(150, 0, 0);
      @include entity-data-common;
    }
    &__distance-to-target {
      float: right;
      color: rgb(150, 100, 0);
      @include entity-data-common;
    }
  }

  .bleeding-info {
    display: inline-block;
    margin: 1em 0;
    color: rgb(141, 0, 0);
    &__reduction {
      color: #666;
      &__unit {
        opacity: 0.7;
      }
    }
  }
}
