.inventory-list {
    margin-top: 1vh ;
    &__label {

    }
    &__container {

    }
    &__item {
        background-color: #222;
        border: 1px solid #666;
        padding: 5px;
        margin: 5px;
    }
}
