.inventory-list {
  margin-top: 1vh;
  &__label {
  }
  &__container {
    height: 85px;
  }
  &__item {
    background-color: #222;
    border: 1px solid #666;
    padding: 5px;
    margin: 5px;
  }
  &__reload-button,
  &__drop-button {
    background: #222;
    color: #666;
    border: 1px solid #666;
    font-size: 10px;
    padding: 5px;
    margin: 5px;
    margin-top: -6px;
    &--partial {
      color: #999;
    }
    &--empty {
      color: #eee;
      animation: blink_softly 1.5s alternate infinite;
    }
  }
  &__drop-button {
    float: right;
  }
}

@keyframes blink_softly {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  0% {
    color: rgba(100, 100, 100, 1);
  }
}
