.fancy-button {
  --text-color: #acab;
  --background-color: #111;
  --side-border-width: 9px;
  --side-border-style: dashed;
  --side-border-color: var(--background-color);
  background: var(--background-color);
  color: var(--text-color);
  $t: transparent;

  font-family: Verdana;

  min-width: 200px;
  min-height: 50px;
  position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border: var(--side-border-width) var(--side-border-style) $t;
    height: calc(50px - 2 * var(--side-border-width));
    z-index: 1;
  }
  &:before {
    left: calc(-2 * var(--side-border-width));
    border-right-color: var(--side-border-color);
  }
  &:after {
    right: calc(-2 * var(--side-border-width));
    border-left-color: var(--side-border-color);
  }
  filter: drop-shadow(2px 2px 6px var(--background-color));
  transition:
    filter 0.5s,
    color 0.5s,
    text-shadow 0.5s;
  &:hover {
    filter: drop-shadow(2px 4px 6px green);
    color: rgb(0, 200, 0);
    text-shadow: #00ff13 0px 0px 2px;
    cursor: pointer;
    user-select: none;
  }
  &:active {
    transition:
      filter 0.1s,
      color 0.1s;
    filter: drop-shadow(2px 4px 6px #eee);
    color: white;
  }
}
