.fancy-button {
  --background-color: #111;
  --text-color: #acab;
  --hover-color: rgb(150, 150, 150);
  --active-color: rgb(200, 200, 200);
  --side-border-width: 9px;
  --side-border-style: dashed;
  --side-border-color: var(--background-color);
  background: var(--background-color);
  color: var(--text-color);
  $t: transparent;
  font-family: Verdana;

  min-width: 50px;
  min-height: 32px;
  padding: 0 1em;
  position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border: var(--side-border-width) var(--side-border-style) $t;
    height: calc(100% - 2 * var(--side-border-width));
    z-index: -1;
  }
  // to fix visual problems caused by non-integer border widths
  // when any zoom is applied (browser or system level),
  // we cover the gap with the shadow of the apropriate color.
  &:before {
    left: calc(-2 * var(--side-border-width));
    border-right-color: var(--side-border-color);
    box-shadow: 2px 0px 0px 0px var(--side-border-color); // *
  }
  &:after {
    right: calc(-2 * var(--side-border-width));
    border-left-color: var(--side-border-color);
    box-shadow: -2px 0px 0px 0px var(--side-border-color); // *
  }

  filter: drop-shadow(2px 2px 6px var(--background-color));
  transition:
    filter 0.5s,
    color 0.5s,
    text-shadow 0.5s;
  &:hover {
    filter: drop-shadow(2px 4px 6px var(--hover-color));
    color: var(--hover-color);
    text-shadow: var(--hover-color) 0px 0px 2px;
    cursor: pointer;
    user-select: none;
    transition:
      filter 0.1s,
      color 0.1s,
      text-shadow 0.1s;
  }
  &:active {
    transition:
      filter 0.1s,
      color 0.1s;
    filter: drop-shadow(2px 4px 6px var(--active-color));
    color: var(--active-color);
  }
}
