$bw: 1em;
.panel-01 {
  font-family: Verdana;
  font-weight: normal;
  color: #acab;
  $backgroundColor: rgba(0, 100, 0, 0.5);
  $t: transparent;
  background: $backgroundColor;
  width: 200px;
  height: 50px;
  margin: 20px;
  position: relative;
  // line-height: calc(100px - 0.5em);
  // padding-top: 1em;
  //box-sizing: border-box;
  text-align: center;
  &:before,
  &:after {
    position: absolute;
    top: 0px;
    content: "";
    display: block;
    border: $bw solid $t;
    height: calc(100% - 2 * #{$bw});
    z-index: 10;
  }
  &:before {
    left: -2 * $bw;
    border-right-color: $backgroundColor;
  }
  &:after {
    right: -2 * $bw;
    border-left-color: $backgroundColor;
    // border-bottom: none;
    // height: calc(100% - #{$bw});
  }
}

.fancy-button {
  $bw: 14px;
  @extend .panel-01;
  $color-outside: #111;
  background-color: $color-outside;
  &:before,
  &:after {
    border-width: $bw;
    height: calc(100% - 2 * #{$bw});
    //border-color: #ABC3;
  }
  &:before {
    left: calc(-2 * #{$bw});
    border-right-color: $color-outside;
  }
  &:after {
    right: calc(-2 * #{$bw});
    border-left-color: $color-outside;
    z-index: -1;
  }
  display: flex;
  padding: 0;

  &-inner {
    $color-inside: #333;
    margin: auto;
    $bw: 2em;
    @extend .panel-01;
    height: calc(100% - 2 * 0.6em);
    width: calc(100% - 1 * 0.3em);
    $decoBw: calc(0.5 * #{$bw});
    background: $color-inside;
    padding-top: 0.9em;
    color: #666;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &:before,
    &:after {
      border-width: $decoBw;
      height: calc(100% - 2 * #{$decoBw});
    }
    &:before {
      left: calc(-2 * #{$decoBw});
      border-right-color: $color-inside;
    }
    &:after {
      right: calc(-2 * #{$decoBw});
      border-left-color: $color-inside;
    }
  }
}
