$color-green: #0C0;
$color-amber: #fb7e14;

$color-primary: $color-amber;
$color-border: $color-primary;
.grid {
  display: grid;
  grid-template-rows: repeat(101, 40px);
  grid-gap: 10px 10px;
  .row {
    display: grid;
    grid-template-columns: repeat(101, 40px);
    height: 40px;
    grid-gap: 10px 10px;

    .cell {
      border: 1px solid #444;
      font-size: 13px;
      width: 40px;
      height: 40px;
      &.special {
        background: greenyellow;
      }
    }
  }
}