.blast-zone {
  &,
  & > * {
    background: inherit;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mid-row {
    display: flex;
    flex: 1;
    justify-content: stretch;
    & > * {
      width: 100%;
    }
  }
}
