.board {
  background: #111;
  padding: 10px;
  border: 1px solid #555;

  &-row:after {
    clear: both;
    content: "";
    display: table;
  }
}

.board {
  transform: perspective(0) rotateX(0) rotateY(0) rotateZ(0);
  transition: all 1s;
}

.rotated-board {
  transform: perspective(471px) rotateX(57deg) rotateY(-3deg) rotateZ(60deg);
}
