.board {
  //min-width: 442px;// TODO: refactor this
  background: inherit; //transparent; // #111;
  padding: 10px;
  border: 1px solid #555;

  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  * {
    transform-style: preserve-3d;
  }
  &__row {
    z-index: 0;
    position: relative;
    font-size: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  &__status {
    background: inherit;
    position: absolute;
    bottom: -0.5em;
    line-height: 10px;
    right: 1em;
    //border: 1px solid red;
    font-size: 10px;
    padding: 0 0.5em;
  }
}

.board {
  transform: perspective(13337px) rotateX(0) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
  transition:
    transform 1s,
    font-size 0.1s;
  &--rotated {
    transform: perspective(13337px) rotateX(45deg) rotateY(0deg) rotateZ(45deg);
  }
}
