.board {
  background: #111;
  padding: 10px;
  border: 1px solid #555;

  &__row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.board {
  transform: perspective(0) rotateX(0) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
  transition: all 1s;
  &--rotated {
    transform: perspective(750px) rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
}
