.entity-pawn-container {
  position: absolute;
  transition: top 0.5s, left 0.5s;

  .entity-pawn {
    position: relative;
    font-size: 1.5em;
    opacity: 0.1;
    z-index: 2;
    &.is-in-twilight-zone {
      opacity: 0.5;
    }
    &.is-lit {
      opacity: 1;
    }
  }
  .shooting-visualization {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

@keyframes breathing {
  0% {
    transform: translate(0, 1px) scale(0.95);
  }
  50% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(0, -1px) scale(1.05);
  }
}
