@use "../InventoryItem/InventoryItem.scss";

.inventory-list {
  &--expanded {
    .inventory-list__items {
      max-height: 1000px;
    }
  }
  &__label {
    margin-bottom: 10px;
    font-size: 10px;
    background: #333;
    padding: 3px 5px;
    padding-bottom: 4px;
    width: 100%;
  }
  &__items {
    transition: all 1s;
    .is-empty {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #555;
      font-weight: bold;
      font-size: 1em;
      position: relative;
      top: -3px;
    }
  }
  &__button {
    @extend .inventory-item__button;
  }
  &__button-close {
    position: absolute;
    right: 10px;
    top: -4px;
    border-radius: 3px;
    padding-top: 4px;
    font-weight: bold;
    font-size: 7px;
  }
  &__button-info {
  }
}

@keyframes blink_softly {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  0% {
    color: rgba(100, 100, 100, 1);
  }
}
