.inventory-list {
  margin-top: 1vh;

  &--collapsed {
    .inventory-list__label-icon {
      color: #eee;
      transform: rotate(-90deg);
    }
    .inventory-list__items {
      transform: scaleY(0);
      max-height: 0;
    }
  }
  &--expanded {
    .inventory-list__label-icon {
      transform: rotate(0deg);
    }
    .inventory-list__items {
      transform: scaleY(1);
      max-height: 1000px;
    }
  }
  &__label {
    &-icon {
      display: inline-block;
      transition: all 1s;
    }
  }
  &__items {
    transition: all 1s;
  }
  &__item {
    background-color: #222;
    border: 1px solid #666;
    padding: 5px;
    //margin: 5px;
    margin-top: 3px;
    font-size: 10px;
  }
  &__reload-button,
  &__drop-button,
  &__equip-button {
    background: #222;
    color: #666;
    border: 1px solid #666;
    font-size: 10px;
    padding: 2px 5px;
    //margin: 5px;
    // position: relative;
    // top: -0px;

    &--partial {
      color: #999;
    }
    &--empty {
      color: #eee;
      animation: blink_softly 1.5s alternate infinite;
    }
  }
  &__drop-button,
  &__equip-button {
    float: right;
  }
}

@keyframes blink_softly {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  0% {
    color: rgba(100, 100, 100, 1);
  }
}
