.hpbar {
  box-sizing: border-box;
  position: absolute;
  top: -2px;
  width: 1em;
  height: 7px;
  background: rgb(0, 0, 0, 1);
  margin: auto;
  padding: 2px;
  border: 1px solid;
  text-align: center;
  &__indicator {
    background: rgba(240, 240, 240, 0.8);
    height: 100%;
  }
  &__text {
    font-size: 0.25em;
    text-align: center;
    position: relative;
    top: -18px;
    vertical-align: top;
  }
}
