$orange-hi-viz: rgb(250, 120, 0);
$orange-lambda: rgb(224, 165, 3);
$blue-1: rgb(19, 120, 179);

$color-steel-bg: #1a1c1d;

// These colors inspired from regex101.com

// backgrounds
$color-grey-19: #191919;
$color-grey-1e: #1e1e1e;
$color-grey-23: #232323;
$color-grey-27: #272727;
// icons
$color-grey-a7: #a7a7a7;
// text

$color-grey-3e: #3e3e3e;
$color-grey-79: #797979;
$color-grey-cb: #cbcbcb;
