@use "src/styles/mixins";
@use "src/styles/variables";

.zero {
  @include mixins.zero;
}

body {
  font:
    14px "Century Gothic",
    Futura,
    sans-serif;
  background: variables.$color-grey-19;
  color: #a0a0a0;
}

h1,
p {
  font-family: Lato;
}
