
@mixin zero {
  margin: 0;
  padding: 0;
  border: 0;
}

.zero {
  @include zero;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: #202525;
  color: #a0a0a0;
}

h1,
p {
  font-family: Lato;
}

