@import "src/styles/mixins";
@import "src/styles/variables";
.zero {
  @include zero;
}

body {
  font:
    14px "Century Gothic",
    Futura,
    sans-serif;
  background: $color-grey-19;
  color: #a0a0a0;
}

h1,
p {
  font-family: Lato;
}
