.entity-pawn {
  transform: translateZ(0) rotateX(0) rotateY(0) rotateZ(0);
  position: absolute;
  transform-style: preserve-3d;
  transition:
    font-size 0.1s,
    left 0.1s,
    top 0.1s;
  pointer-events: none;
  width: 1em;
  height: 1em;
  &__icon {
    position: relative;
    height: 100%;
    font-size: 0.7em;
    opacity: 0.9;
    z-index: 2;
    transition: all 1s;
    &--is-in-twilight-zone {
      opacity: 0.5;
    }
    &--is-lit {
      opacity: 1;
    }
    &--dead {
      color: rgba(0, 0, 0, 0.1);
      text-shadow://TODO: differentiate death by bleed and burn
        rgba(100, 0, 0, 0.9) 0em 0em 0.2em,
        rgba(0, 0, 0, 1) 0.1em 0.1em 0.16em;

      filter: opacity(0.8) grayscale(0.8) contrast(0.5) brightness(0.5) blur(0.5px)
        drop-shadow(-0em -0em 0.1em rgba(0, 0, 0, 1)) drop-shadow(-0em -0em 0.1em rgba(0, 0, 0, 1));
    }
  }
  &__health-display {
    position: absolute;
    top: -5px;
    width: 100%;
    z-index: 5;
    color: white;
    font-size: 1em;
    text-align: center;
    text-shadow:
      1px 1px 1px black,
      -1px -1px 1px black;
    &.friendly {
      color: greenyellow;
    }
    &.hostile {
      color: red;
    }
  }
}

.board--rotated .entity-pawn {
  transform: perspective(750px) translateZ(0.33em) rotateZ(-45deg) rotateX(-60deg);
  transition: all 1s;
  &--dead {
    transform: perspective(750px) translateZ(0em) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes breathing {
  0% {
    transform: translate(0, 1px) scale(0.95);
  }
  50% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(0, -1px) scale(1.05);
  }
}
