.board--rotated .entity-pawn {
  transform: perspective(750px)  translateZ(11px) rotateY(0deg) rotateZ(-45deg) rotateX(-45deg);
}

.entity-pawn {
  transform: perspective(0)  translateZ(0) rotateX(0) rotateY(0) rotateZ(0);
  position: absolute;
  transition: all 1s, top 0.8s, left 0.8s;
  pointer-events: none;
  background: rgba(200,200,200,0.3);
  &__icon {
    position: relative;
    font-size: 1.5em;
    //opacity: 0.1;
    z-index: 2;
    transition: all 1s;
    &--is-in-twilight-zone {
      opacity: 0.5;
    }
    &--is-lit {
      opacity: 1;
    }
    &--dead {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  &__health-display {
    position: absolute;
    top: -5px;
    width: 100%;
    z-index: 5;
    color: white;
    font-size: 10px;
    text-align: center;
    text-shadow:1px 1px 1px black, -1px -1px 1px black;
    &.friendly {
      color: greenyellow;
    }
    &.hostile {
      color: red;
    }
  }
  .shooting-visualization {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    .projectile {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 26px;
      color: white;
    }
  }
  .board--rotated & .shooting-visualization {
    transform: perspective(750px) translateZ(-10px) rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
}

@keyframes breathing {
  0% {
    transform: translate(0, 1px) scale(0.95);
  }
  50% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(0, -1px) scale(1.05);
  }
}
