.entity {
  border: 2px solid #888;
  background: #333;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  position: relative;

  &.active {
    border: 2px solid #eee;
    background: #222;
    strong {
      color: #eee;
    }
  }

  .position {
    display: block;
    float: left;
    margin-top: 5px;
    clear:both;
    background: #aaa;
    color: black;
    padding: 3px;
  }

  .portrait {
    float: left;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    border: 1px solid #666;
    margin: 0;
    margin-right: 10px;
  }
}
