progress {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #AAA;
  position: relative;
  height: 1em;
}

progress::after {
    content: attr(percent)'%';
    position: relative;
    top: -1.1em;
    font-size: 0.8em;
    color: #EEE;
    text-align: center;
}

/* Background Colors  */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: #222 !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #222;
}

/* Foreground Colors   */
/* IE10 */
progress {
    color: #666;
}

/* Firefox */
progress::-moz-progress-bar {
    background: #666;
}

/* Chrome */
progress::-webkit-progress-value {
    background: #666;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: #666;
}
