.step-counter {
  background: black;
  position: relative;
  top: 1px;
  margin-right: 5px;
  padding: 5px;
  border: 2px solid black;
}

.game {
  // display: flex;
  // flex-direction: row;
  // align-items: flex-start;
  float: left;

  .board {
    transform: perspective(0) rotateX(0) rotateY(0) rotateZ(0);
    transition: all 1s;
  }
  .rotated-board{
    transform: perspective(471px) rotateX(57deg) rotateY(-3deg) rotateZ(60deg);
  }

  &> * {
    margin: 5px;
  }
  &-info {
    float: left;
  }
  &-board {
    float: left;
  }
  &-list {
    float: left;
    clear: both;
  }
}

.selected {
  display: block;
  border: 1px solid #555;
  padding: 10px;
}

.button {
  color: #999;
  background: #444;
  margin-top: 5px;
  margin-right: 5px;
  border: 2px solid #666;
  padding: 5px;
  &-nuke {
    color: #E00;
  }
}

.auto-cycle {
	white-space: pre;
  top: 1px;
  position: relative;
  color: #222;
  span {
    padding-left: 15px;
  }
  input {
    display: none;
    border: 1px solid #666;
    background: #222;
    &:checked{
      &~span{
        color: white;
        position: relative;

        &::before{
          position: absolute;
          left: 1px;
          top: -1px;
          content: "✓";
        }
      }
    }
  }
}
