@import "src/styles/variables";

.game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & > * {
    margin: 5px;
  }
  &__board {
    border: 1px solid #666;
  }
  &__info {
  }
  &__list {
    float: left;
    clear: both;
  }

  .button,
  .actions button,
  .auto-cycle {
    color: #999;
    background: #444;
    margin-top: 5px;
    margin-right: 5px;
    border: 2px solid #666;
    padding: 5px;
    &.next_tick {
      border: 2px solid green;
    }
    &.execute_actions {
      border: 2px solid $blue-1;
    }
    &.nuke {
      color: #e00;
    }
    &:active {
      border-color: white;
    }
  }
  .game__info {
    border: 1px solid #666;
    padding: 10px;
    .actions {
      padding: 0 0 10px 0;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-content: space-between;
      justify-content: flex-start;
      flex-wrap: wrap;

      .action_row {
        border: 0px solid red;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        & > * {
          flex: 1;
          min-width: 150px;
          box-sizing: border-box;
        }
      }
      .auto-cycle {
        white-space: pre;
        position: relative;
        color: #666;
        span {
          padding-left: 15px;
        }
        input {
          display: none;
          border: 1px solid #666;
          background: #222;
          &:checked {
            & ~ span {
              color: white;
              position: relative;

              &::before {
                position: absolute;
                left: 1px;
                top: -1px;
                content: "✓";
              }
            }
          }
        }
      }
    }

    .interaction-container {
      display: grid;
      font-family: Verdana;
      //border: 1px solid #555;
      grid-template-columns: 50% 50%;
      margin-bottom: 10px;
      .selected,
      .targeted {
        display: block;
        border: 1px solid rgb(116, 98, 0);
        &__label {
          display: block;
          text-align: center;
          padding: 5px;
        }
      }
      .selected {
        border-color: #095c09;
        &__label {
          background: #095c09;
          border: 1px solid #13af13;
        }
        margin-right: 10px;
      }
      .targeted {
        border-color: #ac7000;
        &__label {
          background: #ac7000;
          border: 1px solid #d88c00;
          color: black;
        }
      }
      .targeted {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-top: 3px;
        }
      }
    }
  }
}

.step-counter {
  background: black;
  position: relative;
  margin-right: 5px;
  margin-top: 6px;
  padding: 5px;
  border: 2px solid #456;
}

.status {
  margin-bottom: 10px;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
