@import "src/styles/variables";

.game-hud {
  height: 100%;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  .section-details {
    z-index: 10;
    display: flex;
    position: absolute;
    left: 0;
    height: 78%;
    flex-direction: column-reverse;
    font-family: Verdana;
    max-width: 190px;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: stretch;
    .selected,
    .targeted {
      position: relative;
      display: block;
      width: 165px;
      &__label {
        display: block;
        text-align: center;
        padding: 5px;
      }
    }
    .selected {
      //border-color: #095c09;
      &__label {
        margin-bottom: 5px;
        background: #095c09;
        border: 2px solid #13af13;
      }
    }
    .targeted {
      border-color: #ac7000;

      &__label {
        margin-bottom: 2px;
        background: #ac7000;
        border: 2px solid #ee9b01;
        color: black;
      }

      .inventory-panel {
        top: 0%;
        bottom: auto;
      }
      .inventory-button {
        width: 100%;
      }
      & > .inventory-button {
        margin-top: 5px;
      }
    }
  }
  .section-main {
    //border: 3px solid yellow;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-status {
    //border: 2px solid lightblue;
    z-index: 1;
  }

  .info {
    margin-top: 1em;
  }
}
