@import "src/styles/variables";

.game-hud {
  height: 100%;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  .section-details {
    display: flex;
    flex-direction: column-reverse;
    font-family: Verdana;
    max-width: 190px;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: stretch;
    .selected,
    .targeted {
      display: block;
      border: 1px solid #ee9b01;
      //padding: 10px;
      width: 165px;
      &__label {
        display: block;
        text-align: center;
        padding: 5px;
      }
    }
    .selected {
      //border-color: #095c09;
      &__label {
        margin-bottom: 5px;
        background: #095c09;
        border: 2px solid #13af13;
      }
    }
    .targeted {
      border-color: #ac7000;

      &__label {
        margin-bottom: 2px;
        background: #ac7000;
        border: 2px solid #ee9b01;
        color: black;
      }
    }
    .targeted {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 3px;
      }
    }
  }
  .section-main {
    padding-top: 4em;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-status {
  }

  .info {
    margin-top: 1em;
  }
}
