.messages {
  border: 1px solid #eee5;
  list-style: none;
  height: 4.5em;
  color: rgba(180, 84, 84, 0.6);
  overflow-y: scroll;
  padding: 5px;
  margin: 0;
  font-family: Verdana, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  font-size: 12px;
  li {
    .message-number {
      color: rgba(100, 100, 100, 0.3);
    }
    .message-timestamp {
      color: rgba(78, 211, 78, 0.31);
    }
    .message-text {
      color: rgba(200, 200, 200, 0.37);
    }
  }
  :last-child {
    color: rgba(216, 15, 15, 0.7);
  }
}
.messages::-webkit-scrollbar {
  display: none;
}
