.square {
    height: 34px;
    width: 34px;

    box-sizing: border-box;

    margin: 2px;
    padding: 0;
    border: 1px solid #505550;

    float: left;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 34px;

    background: #333;
    color: #AAA;
  }


.square:focus {
    outline: none;
}

.square.active {
  border: 1px solid #eee;
}
