.square {
    background: #333;
    border: 1px solid #505550;
    box-sizing: border-box;
    float: left;
    font-size: 20px;
    font-weight: bold;
    
    line-height: 34px;
    height: 34px;
    width: 34px;
  
    margin: 2px;
    padding: 0;
  
    text-align: center;
    color: #A0A0A0; 
  }


.square:focus {
    outline: none;
}
  