@keyframes shoot-and-rotate {
  0%  {border-width: 1px;}
  100%  {border-width: 4px; transform: rotate(900deg);}
}

.square {
  height: 34px;
  width: 34px;
  overflow: visible;
  box-sizing: border-box;

  margin: 2px;
  padding: 0;
  border: 1px solid #505550;

  float: left;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 34px;

  background: #333;
  color: #AAA;
  &:focus {
    outline: none;
  }
  &.active {
    box-shadow:
      0 0 10px 3px inset white,
      0 0 10px 3px  white;
    &.shooting{
      // nothing here
    }
  }
  &.breathing {
    //box-shadow: 0 0 3px 3px inset green;
  }
  &.dead {
    background-color: red;
    //transform: rotate(180deg);
    //transition: all 1s;
    &::Xbefore {
      content: "X";
      font-weight: 100;
      color: rgba(0,0,0,0.5);
      position: absolute;
      font-size: 43px;
      top: 0;
      left: 2px;
      z-index: 1700;
    }
  }
  .content {
    z-index: 1000;
    position: relative;
  }
  .projectile {
    z-index: 500;
  }
}

.shooting {
  position: relative;
}

@keyframes breathing {
  0%     {transform: translate(0,1px) scale(0.95);}
  50%     {transform: translate(0,0) scale(1);}
  100%   {transform: translate(0,-1px) scale(1.05);}
}

@keyframes tilting {
  0%   {transform: rotate(-30deg);}
  100% {transform: rotate(30deg);}
}
