// @keyframes shoot-and-rotate {
//   0% {
//     border-width: 1px;
//   }
//   100% {
//     border-width: 4px;
//     transform: rotate(900deg);
//   }
// }
$squareSize: 1em;
@mixin cuboid {
  &:nth-of-type(1){
    transform: scaleZ(0.5) rotateX(90deg);
    transform-origin: top;
  }
  &:nth-of-type(2){
    transform: scaleZ(0.5) rotateY(90deg);
    transform-origin: right;
  }
  &:nth-of-type(3){
    transform: scaleZ(0.5) rotateY(-90deg);
    transform-origin: left;
  }
  &:nth-of-type(4){
    transform: scaleZ(0.5) rotateX(-90deg);
    transform-origin: bottom;
  }
  &:nth-of-type(5){
    transform: translateZ(0.5em);
    transform-origin: bottom;
  }
}
.square {
  position: relative;
  box-sizing: border-box;
  overflow: visible;

  height: $squareSize;
  width: $squareSize;
  box-sizing: border-box;
  margin: 2px;
  padding: 0;

  border: 1px solid #505550;

  float: left;
  //font-size: 50px;
  font-size: 1em;
  line-height: $squareSize;
  text-align: center;
  font-weight: bold;

  color: #aaa;
  background: #333;
  transition: all 0.5s;
  &:hover {
    background: rgb(240, 160, 5);
  }
  &--dark {
    background: #111;
    border-color: #222;
  }
  &--is-in-twilight-zone {
    background: #222;
    border-color: #333;
  }
  &--is-lit {
    background: #333;
    border-color: #444;
  }
  &__blood,
  &__items-number {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 0.2em;
    line-height: 2em;
  }
  &__blood {
    color: #900;
    text-align: right;
    text-shadow: 0px 0px 1px #000;
    padding-right: 3px;
  }
  &__items-number {
    color: #aaa;
    text-align: left;
    padding-left: 3px;
  }
  &:focus {
    outline: none;
  }
  &--is-available-destination {
    box-shadow: 0 0 4px 0px inset lightblue;
  }
  &--is-chosen-destination {
    border: 1px dotted white;
  }
  &--targeted {
    box-shadow: 0 0 4px 2px inset #ac7000;
    border: 1px solid #d88c00;
  }
  &--active {
    box-shadow: 0 0 10px 3px inset #095c09, 0 0 10px 3px #095c09;
    border: 1px solid #13af13;
  }

  &__content {
    // This is required, so the click event hits the Square, not the EntityPawn
    z-index: 1000;
    position: relative;
  }
  &__item-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 0.8em;
  }
  &.floor {
    background: #444;
    border: #505050;
    &:hover{
      background: rgb(240, 160, 5);
    }
  }
  &.wall {
    background: #999;
    border: #aaa;
  }
  &.monster-filter {
    background: #696;
    border: #0F0;
  }

  &__cuboid, &__cuboid-face {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }
  &.wall &__cuboid-face{
    //pointer-events: none;
    background: rgba(200,200,200,0.5);
    border: 1px solid rgba(220,220,220,0.8);
    transform-style: preserve-3d;
    @include cuboid();
  }
  &.wall:hover &__cuboid-face{
    background: rgba(0, 151, 252, 0.5);
  }
  &.nothing {
    background: transparent;
    border: #222;
  }
  &.floor &__cuboid-face {
    background: inherit;//rgba(200,200,200,0.9);
    border:1px solid #666;
    @include cuboid();
  }
  &.floor &__cuboid {
    background: inherit;
    transform-style: preserve-3d;
    transform: rotateX(180deg);
  }
}
