// @keyframes shoot-and-rotate {
//   0% {
//     border-width: 1px;
//   }
//   100% {
//     border-width: 4px;
//     transform: rotate(900deg);
//   }
// }

.square {
  position: relative;
  box-sizing: border-box;
  overflow: visible;

  height: 34px;
  width: 34px;
  margin: 2px;
  padding: 0;

  border: 1px solid #505550;

  float: left;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;

  color: #aaa;
  background: #333;

  &--dark {
    background: #111;
    border-color: #222;
  }
  &--is-in-twilight-zone {
    background: #222;
    border-color: #333;
  }
  &--is-lit {
    background: #333;
    border-color: #444;
  }
  &__blood,
  &__items {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 10px;
    line-height: 50px;
  }
  &__blood {
    color: #900;
    text-align: right;
    text-shadow: 0px 0px 1px #000;
    padding-right: 3px;
  }
  &__items {
    color: #aaa;
    text-align: left;
    padding-left: 3px;
  }
  &:focus {
    outline: none;
  }
  &--targeted {
    box-shadow: 0 0 4px 1px inset rgb(164, 255, 176);
  }
  &--active {
    box-shadow: 0 0 10px 3px inset white, 0 0 10px 3px white;
  }
  &--is-available-destination {
    box-shadow: 0 0 4px 0px inset lightblue;
  }
  &--is-chosen-destination {
    border: 1px dotted white;
  }
  &__content {
    // This is required, so the click event hits the Square, not the EntityPawn
    z-index: 1000;
    position: relative;
  }
}
