@import "styles/global-styles.scss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  @include zero;
}

#root, .app {
  all: inherit;
  display: flex;
  flex-direction: column;
}
